<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceAddress" value="localhost:8008"/>
  </appSettings>
 
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDocumentService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8008/DocumentService.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDocumentService"
        contract="ServiceReference1.IDocumentService" name="WSDualHttpBinding_IDocumentService">
        <identity>
          <servicePrincipalName value="host/Peng-PC" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>