<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDocumentService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8008/DocumentService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService"
                contract="docsvr.IDocumentService" name="WSHttpBinding_IDocumentService">
                <identity>
                    <servicePrincipalName value="host/Peng-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>