<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Number" value="042"/>
    <add key="ServiceAddress" value="http://localhost:8080/DocumentService.svc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
